html {
    scroll-behavior: smooth;
}

.section {
    display: flex;
    align-items: center;
    background-color: var(--background-dark);

    &.hero {
        color: #1d1b19;
        background-color: var(--background-soft);
        padding-top: 0;
        padding-bottom: 0;
    }

    .layout {
        height: 100vh;
        min-height: 750px;
        grid-column-gap: 72px;
        margin-left: auto;
        margin-right: auto;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
    }

    .hero-layout {
        grid-row-gap: 72px;
        
    }

    &.dark {
        color: var(--text-light);
    }
}

.container {
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.main-image {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.flex-col {
    display: flex;
    flex-direction: column;

    .row {
        flex: 1 1 auto;
    }
}

.text-end {
    display: flex;
    align-items: flex-end;
}

.secondary-description {
    text-align: left;
    margin-bottom: 0;
}

.portfolio-button {
    padding: 16px 24px;
    background-color: var(--background-dark);
    border-radius: 30px;
    text-decoration: none;
    color: var(--text-light) !important;
    display: flex;
    height: 55px;
    width: 200px;

    div {
        padding-right: 8px;
    }
}

.page-title {
    font-size: 8.25rem;
    font-weight: bold;
}

.logo {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    object-fit: fill;
}

.business-location {
    div {
        margin-right: 4px;
    }

    img {
        max-width: 20px;
        padding-bottom: 5px;
    }
}

.section-title-container {
    height: auto;
    margin-bottom: 20px;
}

.fill-flex {
    flex: 1;
    min-height: 0;
}

/* Media Queries */

/* Small and Medium devices (phones, tablets, 768px and below) */
@media (max-width: 768px) {
    .section .layout {
        height: auto;
    }

    .main-image {
        max-height: 350px;
    }

    .page-title {
        font-size: 3.25rem;
        text-align: center;
    }

    .main-section {
        margin-bottom: 30px;
    }

    .portfolio-button {
        width: 100%;
        justify-content: center;

        div {
            padding-right: 0px;
        }
    }

    .description-row img {
        max-height: unset;
    }
}

.description-row img {
    max-height: 300px;
}

.remove-margin {
    margin: 0;
}

/* Bootstrap classes */
.full-height {
    height: 100%;
}