.section {
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--background-dark);

    &.hero {
        color: #1d1b19;
        background-color: var(--background-soft);
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero-layout {
        height: 100vh;
        min-height: 750px;
        grid-column-gap: 72px;
        grid-row-gap: 72px;
        margin-left: auto;
        margin-right: auto;
        padding: 80px 0;
    }
}

.container {
    width: 90%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}